@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(247 254 231);
}

:root {
  --swiper-navigation-size: 35px !important;
  --swiper-theme-color: #000 !important;
}